* {
    box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:focus,a:visited,a:active{
  outline: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Beatrice,sans-serif;
    color: white;
    background-color: black;
}

/* HEADER CSS */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    color: white;
    font-family: Beatrice,sans-serif;

}

.logo-image {
    width: 40%;
    margin: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 33%
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;

}

.nav-links a:hover {
    color: red;
}


.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}







/*ADDING THE MAIN PHOTO BEHIND THE PAGE */

.main-content{
    display: flex;
    position: relative;
    -moz-box-align: center;
    align-items: center;
    justify-content: flex-start;
    background: #000;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.stage {
    object-position: top;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.stage {
    background: #648880;
    background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
  
}


/*TEXT DESCRIPTION OF BACKGROUND*/

.about-container{
    position: relative;
    pointer-events: none;
    margin-right: auto;
    margin-left: 0;
    width: 90%;
    max-width: 1482px;
    display:flex;
    color: white;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

.about-content {
    position: relative;
    padding-bottom: 1px;
    padding-left: 45px;
    width: 500px;
    max-width: 1280px;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    -webkit-filter: drop-shadow(6px 6px 6px #000);
    filter: drop-shadow(6px 6px 6px #000);
    margin-left: 14%;
}

.homepage-lrg-text {
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-weight: 600;

}

.stage-text {
    font-size: .95rem;
    line-height: 1.3rem;
    margin: 0 0 16px 20px;
    width: 310px;
}

.stage-button {
    font-size: 0.9rem;
    pointer-events: fill;
    border-color: red;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: hsla(0,0%,100%,0);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding: 7px 14px 7px 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style: solid;
    font-weight: 500;


}

.stage-button:hover {
    background-color: red;
    color: black;
}

/*CONTACT PAGE START */

.contact {
    height: 95%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;

}

.contact-container {
    position: relative;
    pointer-events: none;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    display: flex;
    top: 100px;
    height:100px;
    align-items: center;
    justify-content: center;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.contact-text {
    margin: 10px 0 10px 0;
    font-weight: 600;
}

#contact-text-bottom {
    font-size: 1.5rem;
}

/* CONTACT FORM */

.contact-wrap {
    position:relative;
    width: 100%;
    display: inline-block;
    height: 316px;
    text-align: left;
    margin: 117px auto 16px auto;
    list-style: none;
    overflow: visible;
    background-color: #000;
    line-height: 1.5;
    height: 478px;

}

.form-container {
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    background-color: #000;
    height: 407px;
}

.form-content {
    display: grid;
    margin-bottom: 0;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "field-name field-number field-email"
                        "field-text";
    list-style-type: none;
    padding: 0;
    background-color: #000;
    height: 141px;


}

.field {
    padding: 0;
    margin: 0;
    background-color: #000;
    display: block;
    border: solid red 1px;
    border-radius: 10px;
}

.form-input {
    padding: 1.2em .25em 1.2em 1em;
    font-size: 1.1em;
    font-family: "din","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: medium;
    margin: 0;
    width: 100%;
    background-color: #000;
    color: white;
    border: 0; 
    border-radius: 10px;
    background-color: #111;

}

#field-text {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 330px;
}

#input-text {
    text-overflow: auto;
    overflow: hidden;
    white-space: wrap;
    height: 328px;
    
}

.button-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;



}

.contact-button {
    font-size: 1.2rem;
    pointer-events: fill;
    border-color: red;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: hsla(0,0%,100%,0);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding: 7px 14px 7px 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style: solid;
    font-weight: 500;

}

.contact-button:hover {
    background-color: red;
    color: black;
}

@media screen and (max-width: 600px){

     body, html{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }

    /*NAV BAR------------------------------------*/

    .logo-image {
        width: 25%;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 42vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in; 
        z-index: 1; 
    }

    .nav-links li {
        opacity: 0;

    }

    .nav-links a {
        padding-right: 33px;

    }

    .burger {
        display: block;
        margin-right: 10%;
        cursor: pointer;
    }

    .nav-links a:active {
        color: red;
    }

    /* MAIN BODY -------------------------------------*/

    .stage {
        width: 100%;
    }

    .about-container{
        margin-top: 61%;
    }

    .about-content {
        margin-left: 0;
    }

    .stage-text {
        margin: 0 0px 16px 10px;
    }

    /*CONTACT FORM ---------------------------------------*/
    .contact-wrap {
        margin: 56% auto 16px auto;
        height: 200%;
    }

    .form-content {
        display: flex;
        flex-direction: column;
    }

    .form-container {
        height: 428px;
    }

    .button-container {
        margin-top: 40%;
    }


    /*END OF VIEW CHANGE*/
}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

